* {
    font-family: lato;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

input[type="submit"] {
    cursor: pointer;
}

i {
    background-color: $main-color;
    color: $primary-text-color;
    font-size: 2.5rem;
    padding: 2.5rem;
}

#menu, #close-menu {
    font-size: 2rem;
    padding: 1rem;
    display: none;
}

#close-menu {
    position: absolute;
    top: 0;
    right: 0;
}

#mobile-navbar {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    transition: 0.4s;
    z-index: 5;
}

#mobile-navbar.menu-active {
    left: 0;
}

#mobile-navbar a {
    color: $primary-text-color;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $main-color;
}

/* Responsivo */
@media(max-width: 450px) {
    /* Geral */
    body {
        overflow-x: hidden;
    }

    i {
        padding: 1.5rem;
        font-size: 2rem;
    }

    /* navbar*/
    #navbar {
        display: none;
    }

    #menu,
    #close-menu {
        display: block;
    }

    #banner {
        max-width: 100%;
        padding: 4rem 2rem;
    }

    #banner h2 {
         font-size: 3rem;
    }

    .banner p {
        font-size: 1rem;
    }

    /* Áreas de atuação */
    .btn {
        align-self: initial;
    }

    .image-container  {
        flex: 1 1 100%;
    }

    #other-services {
        flex-wrap: wrap;
    }

    /* Sobre nós */
  #about {
    gap: 0;
  }

  #about-text,
  #about-data {
    flex: 1 1 100%;
  }

  .about-description {
    gap: 1rem;
  }

  .about-description i {
    padding: 0;
    min-width: 40px;
  }

  #about #about-data .data {
    width: 100%;
    border: none;
    border-bottom: 1px solid $secondary-text-color;
  }

  /* Depoimentos */
  .text-container {
    text-align: center;
    padding: 2rem;
  }

  /* Colaboradores */
  #team {
    margin-top: 2rem;
  }

  #team h2 {
    font-size: 2.5rem;
  }

  .employees {
    flex-wrap: wrap;
  }

  /* Contato */
  #contact {
    padding-bottom: 0;
  }

  #contact-information {
    padding: 7rem 1rem;
  }

  #contact-information .form-control {
    flex-direction: column;
  }

  #contact-information .btn {
    align-self: auto;
  }

  /* Rodapé */
  #footer {
    flex-wrap: wrap;
  }

  #footer i {
    font-size: 2rem;
    padding: 1rem;
  }

  .footer-brand {
    text-align: center;
  }

  .networks {
    margin-bottom: 3rem;
  }

  .links-container {
    margin-bottom: 1rem;
  }

  .links-container h4 {
    margin-bottom: 1.5rem;
  }

  .contact-info,
  .links-container {
    width: 100%;
  }
}