* {
    font-family: lato;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

input[type="submit"] {
    cursor: pointer;
}

i {
    background-color: $main-color;
    color: $primary-text-color;
    font-size: 2.5rem;
    padding: 2.5rem;
}

/* Responsivo */
@media(max-width: 768px) {
    /* Geral */
    html {
      position: absolute;
      width:100%;
      height:100%;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
  }
    body {
    overflow-x: hidden;
  }
    i {
        padding: 1.5rem;
        font-size: 2rem;
    }
    /* Header */
    #header {
      height: 80vh !important;
      display: flex;
      flex-direction: column;
      #navbar, #brand {
        visibility: hidden !important;
      }
      #menu, #close-menu {
        font-size: 2rem;
        padding: 1rem;
    }
      #menu {
        position: absolute !important;
        top: 0;
        right: 0;
      }
      #close-menu {
          position: absolute;
          top: 0;
          right: 0;
      }
      #mobile-navbar, #menu {
        visibility: visible !important;
    }  
      #mobile-navbar {
          position: fixed;
          top: 7vh;
          right: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.95);
          display: flex;
          flex-direction: column;
          padding: 4rem 2rem;
          transform: translateX(100%);
          transition: 0.4s;
          z-index: 5;
      }
      #mobile-navbar.menu-active {
        transform: translateX(0);
        left: 0;
      }
      #mobile-navbar a {
          color: $primary-text-color;
          font-size: 2rem;
          text-align: center;
          margin-bottom: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid $main-color;
      }
      .banner {
        h2 {
          font-size: 1.6rem !important;
          margin-bottom: 1.2rem;
        }
        p {
          font-size: 1.2rem !important;
        }
      }
      .dots {
        position: relative !important;
        top: 60vh;
      }
    }
    /* Áreas de atuação */
    .text-image-section {
        .btn {
          align-self: initial;
        }
        .image-container  {
          flex: 1 1 100%;
          img {
            width: 100%;
          }
        }
      #other-services {
          flex-wrap: wrap;
          img {
            width: 70%;
          }
        }
    } 
    /* Sobre nós */
  #about {
    gap: 0;
      #about-text,
      #about-data {
      flex: 1 1 100%;
    }
    .about-description {
      gap: 1rem;
      i {
        padding: 0;
        min-width: 40px;
      }
    }
    #about-data .data {
      width: 100%;
      border: none;
      border-bottom: 1px solid $secondary-text-color;
    }
  }
  /* Depoimentos */
  .text-container {
    text-align: center;
    padding: 2rem;
  }
  /* Colaboradores */
  #team {
    margin-top: 2rem;
    h2 {
      font-size: 2.5rem;
    }
    .employees {
      flex-wrap: wrap;
      .employee {
        img {
          width: 50%;
        }
      }
    }
  }
  /* Contato */
  #contact {
    padding-bottom: 0;
    #contact-information {
      padding: 7rem 1rem;
      .form-control {
        flex-direction: column;
      }
      .btn {
        align-self: auto;
      }
    }
  }
  /* Rodapé */
  #footer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    .contact-info {
      i {
        font-size: 2rem;
        padding: 1rem;
      }
      .footer-brand {
        width: 100vw;
        text-align: center;
      }
      .social-networks {
        .networks {
          width: 100vw;
          margin-bottom: 3rem;
        }
      }
    }
    .links-container {
      margin-bottom: 1rem;
      p {
        width: 100px;
      }
      h4 {
        margin-bottom: 1.5rem;
      }
    }
    .contact-info,
    .links-container {
      width: 100vw !important;
   }
  }
}

@media (max-width: 1024px) {
    html {
      position: absolute;
      width:100%;
      height:100%;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
  }
    body {
    overflow-x: hidden;
  }
    .banner {
      padding: 2rem;
      .square {
        width: 100px;
        height: 100px;
      }
    h2 {
        font-size: 2rem !important;
        margin-bottom: 0;
    }
    p {
        top: 50vh !important;
        font-size: 1.4rem !important;
    }
  }
}