#testimonials {
    display: flex;
    align-items: center;
    #testimonial-information {
        padding: 3rem;
        .author {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 1rem;
            .author-name {
                color: $main-color;
                text-transform: uppercase;
                font-size: 1.3rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }
            .author-job {
                color: $secondary-text-color;
            }
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}